{% extends 'base.html.twig' %}

{% block title %}
	Exchange-Widget
{% endblock %}


{% block body %}
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
	<div id="root"></div>


{% endblock %}
